<div class="container">

  <!--colors-->
  <h2 class="example-title">Colors Kit</h2>
  <br>
  <div class="swatches">
    <div class="color primary"></div>
    <div class="infos">
      <h4>Primary</h4>
      <p>#767C77</p>
    </div>
  </div>

  <div class="swatches">
    <div class="color secondary"></div>
    <div class="infos">
      <h4>Secondary</h4>
      <p>#FABEA7</p>
    </div>
  </div>

  <div class="swatches">
    <div class="clearfix">
      <div class="color grey-light"></div>
      <div class="color grey-medium"></div>
      <div class="color grey-dark"></div>
    </div>
    <div class="infos">
      <h4>3 shades of grey</h4>
      <p>#625261, #A6A6A4, #E8E8E8</p>
    </div>
  </div>

    <div class="swatches">
    <div class="clearfix">
      <div class="color warning"></div>
      <div class="color danger"></div>
      <div class="color success"></div>
      <div class="color info"></div>
    </div>
    <div class="infos">
      <h4>Warning | Danger | Succes | Info </h4>
      <p>#F6C98E, #E78F8E, #69D1A6, #6EC3D1</p>
    </div>
  </div>
  
  <br>
  <!--Typo-->
  <h2 class="example-title">Typography</h2>
  <br>
  <div class="headings">
    <h1>This is a Header size h1</h1>
    <h2>This is a Header size h2</h2>
    <h3>This is a Header size h3</h3>
    <h4>This is a Header size h4</h4>
    <h5>This is a Header size h5</h5>
    <h6>This is a Header size h6</h6>
  <div>
  
  <div class="text">
    <p>This is a Paragraphe</p>
    <lead>This is a Lead, a paragraphe more important</lead>
    <br><br>
    <div class="blockquote-wrapper">
      <div class="blockquote">
        <h1>
          This is a citation block
        </h1>
        <h4>- de moi</h4>
      </div>
    </div><br>

    <ul>This is an unordered list
      <li>This is a list item</li>
      <li>This is another list item</li>
    </ul>
    <ol>This is an ordered list
      <li>This is a list item</li>
      <li>This is another list item</li>
    </ol> 
  <div>
  <br>

  <!--buttons--> 
  <h2 class="example-title">Buttons</h2>
  <br>
  <div class="buttons">
    <div class="classic">
    <h2>Classic</h2>
      <button type="button" class="btn primary">Primary</button>
      <button type="button" class="btn secondary">Secondary</button>
      <button type="button" class="btn warning">Warning</button>
      <button type="button" class="btn danger">Danger</button>
      <button type="button" class="btn success">Success</button>
      <button type="button" class="btn info">Info</button>
      <button type="button" class="btn grey-light">Light</button>
      <button type="button" class="btn grey-medium">Medium</button>
      <button type="button" class="btn grey-dark">Dark</button>
    </div>
    <br>

    <div class="sm">
    <h2>Small</h2>
      <button type="button" class="btn primary btn-sm">Primary</button>
      <button type="button" class="btn secondary btn-sm">Secondary</button>
      <button type="button" class="btn warning btn-sm">Warning</button>
      <button type="button" class="btn danger btn-sm">Danger</button>
      <button type="button" class="btn success btn-sm">Success</button>
      <button type="button" class="btn info btn-sm">Info</button>
      <button type="button" class="btn grey-light btn-sm">Light</button>
      <button type="button" class="btn grey-medium btn-sm">Medium</button>
      <button type="button" class="btn grey-dark btn-sm">Dark</button>
    </div>
    <br>
    <div class="lg">
    <h2>Large</h2>
      <button type="button" class="btn primary btn-lg">Primary</button>
      <button type="button" class="btn secondary btn-lg">Secondary</button>
      <button type="button" class="btn warning btn-lg">Warning</button>
      <button type="button" class="btn danger btn-lg">Danger</button>
      <button type="button" class="btn success btn-lg">Success</button>
      <button type="button" class="btn info btn-lg">Info</button>
      <button type="button" class="btn grey-light btn-lg">Light</button>
      <button type="button" class="btn grey-medium btn-lg">Medium</button>
      <button type="button" class="btn grey-dark btn-lg">Dark</button>
    </div>
    <br>
    <div class="outiline">
    <h2>Outline</h2>
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-grey-light">Light</button>
      <button type="button" class="btn btn-outline-grey-medium">Medium</button>
      <button type="button" class="btn btn-outline-grey-dark">Dark</button>
    </div>
  </div>

  <!--alerts--> 
  <h2 class="example-title">(Alerts)</h2>
  <br>
  <div class="alert">
    <button class="alerts" style="background-color:#F6C98E"><strong>Warning!</strong> Best check yo self, you're not looking so good.</button>
    <button class="alerts" style="background-color:#E78F8E"><strong>Oh snap!</strong> Change a few things up and try submitting again.</button>
    <button class="alerts" style="background-color:#69D1A6"><strong>Well done!</strong> You successfully read this important alert message.</button>
    <button class="alerts" style="background-color:#6EC3D1"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</button>
  </div>
  
  <!--icons--> 
  <h2 class="example-title">Icons</h2>
   <br>
  <div class="icone">
  </div>

  <!--cards--> 
  <h2 class="example-title">Cards</h2>
  <br>
  <div class="cards">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1589047133523-6c254bea9a35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <br>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1581873372796-635b67ca2008?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <br>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <br>

  <!--forms--> 
  <h2 class="example-title">Forms</h2>
  <br>
  <form>
    <input class="form-control", placeholder="Input">
    <select class="form-control">
      <option>This is a native select element</option>
      <option>Apples</option>
      <option>Bananas</option>
      <option>Grapes</option>
      <option>Oranges</option>
    </select>
    <textarea class="form-control">Ici on ajoute un texte aussi long qu'on veut</textarea>
    <input type="radio" class="form-control" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
  </form >

  <!--lists--> 
  <h2 class="example-title">Lists groups</h2>
  <br>
  <ul class="list-group ">
    <li class="list-group-item">Item One<span class="badge secondary">2</span></li>
    <li class="list-group-item">Item Two<span class="badge secondary">10</span></li>
    <li class="list-group-item">Item Three<span class="badge secondary">9</span></li>
    <li class="list-group-item">Item Four<span class="badge secondary">0</span></li>
  </ul>

  <ul class="list-group ">
    <li class="list-group-item active secondary">Item One activé</li>
    <li class="list-group-item unactive">Item Two</li>
    <li class="list-group-item">Item Three</li>
    <li class="list-group-item">Item Four</li>
  </ul>

  <ul class="list-group ">
    <li class="list-group-item list-group-item-primary">Item One</li>
    <li class="list-group-item list-group-item-secondary">Item Two</li>
    <li class="list-group-item list-group-item-warning">Item Three</li>
    <li class="list-group-item list-group-item-danger">Item Four</li>
    <li class="list-group-item list-group-item-success">Item Four</li>
    <li class="list-group-item list-group-item-info">Item Four</li>
    <li class="list-group-item list-group-item-grey-light">Item Four</li>
    <li class="list-group-item list-group-item-grey-medium">Item Four</li>
    <li class="list-group-item list-group-item-grey-dark">Item Four</li>
  </ul>
</div>
